<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
USER HOME

<form>
    <table class="table table-striped">
<thead>
        <tr>

            <td>
                <label  >id</label>
            </td>
            <td>
                <label >FullName</label>
            </td>

            <td>
                <label  >Email</label>
            </td>

            <td>
                <label  >Role</label>
            </td>

            <td>
                <label  >Department</label>
            </td>
        </tr>
</thead>
        <tbody>
    <tr th:each="user:${users}">

        <td>
            <label  th:text="${user.id}">id</label>
        </td>
        <td>
            <label  th:text="${user.FullName}">FullName</label>
        </td>

        <td>
            <label  th:text="${user.email}">Email</label>
        </td>

        <td>
            <label  th:text="${user.role}">Role</label>
        </td>

        <td>
            <label  th:text="${user.department}">Email</label>
        </td>
    </tr>
    <td><a th:href="${'/Admin/users/' + user.id}">View</a></td>
    <td><a th:href="${'/Admin/users/edit/user/' + user.id}" >Update</a></td>
    <td><a th:href="${'/Admin/users/delete/' + user.id}" onclick="return confirm('Are you sure?')" >Delete</a></td>
        </tbody>
    </table>
</form>
</body>
</html>