<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="window-centered popup deletePopUp">
    <div class="contentHolder">
        <div class="textContainer">
            <div>
                <div class="titleText">Delete selected contacts</div>
            </div>
            <div class="text"><span><!-- react-text: 2178 -->Are you sure you want to delete the selected contact(s)?
                <!-- /react-text --><br></span><span><!-- react-text: 2181 -->Once deleted, this action cannot be undone.
                <!-- /react-text --><br></span></div>
        </div>
        <div class="btnContainer">
            <div class="deleteBtn">
                <button class="ABButton ABprimary sflyStyle">DELETE</button>
            </div>
            <div class="cancelBtn">
                <button class="ABButton ABsecondary sflyStyle">CANCEL</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>