<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form lang="en" novalidate="">
    <div class="c-forms-form" tabindex="0">
        <div class="c-editor" style="display:none;"><input class="c-forms-form-style" type="text"></div>
        <div class="c-forms-form-body toggle-on" sys:attach="toggle"
             toggle:action="hide" toggle:on="{ binding displayConfirmation, source = {{ Cognito.Forms.model }} }">
            <div class="c-forms-heading">
                <div class="c-forms-logo" style="display:none;"></div>
                <div class="c-forms-form-title"><h2>Edit Contact Form</h2></div>
            </div>
            <div class="c-forms-template" dataview:data="{binding entry, source={{ Cognito.Forms.model }} }"
                 sys:attach="dataview">
                <div class="c-forms-form-main c-span-24 c-sml-span-12">
                    <fieldset class="c-name c-field  c-col-1 c-sml-col-1 c-span-24 c-sml-span-12">
                        <legend class="c-label ">Name <span class="c-offscreen c-required-screenreaders">required</span>
                            <span class="c-offscreen c-validation-screenreaders">, <span></span></span></legend>
                        <div>
                            <div class="c-editor c-span-1" style="width: 50%; float: left;"><input id="c-0-222"
                                                                                                   placeholder="First"
                                                                                                   title="First"
                                                                                                   type="text"></div>
                            <div class="c-editor c-span-1" style="width: 50%; float: left;"><input id="c-1-222"
                                                                                                   placeholder="Last"
                                                                                                   title="Last"
                                                                                                   type="text"></div>
                        </div>
                        <div aria-hidden="true" class="c-validation"></div>
                    </fieldset>
                    <fieldset class="c-address c-address-us c-field  c-col-1 c-sml-col-1 c-span-24 c-sml-span-12">
                        <legend class="c-label ">Address <span
                                class="c-offscreen c-required-screenreaders">required</span> <span
                                class="c-offscreen c-validation-screenreaders">, <span></span></span></legend>
                        <div>
                            <div class="c-editor" style="float: left;"><input id="c-3-221" placeholder="Address Line 1"
                                                                              title="Address Line 1"
                                                                              type="text"></div>
                            <div class="c-editor" style="float: left;"><input id="c-4-221" placeholder="Address Line 2"
                                                                              title="Address Line 2"
                                                                              type="text"></div>
                            <div class="c-editor c-partial-line" style="float: left;"><input id="c-5-221"
                                                                                             placeholder="City"
                                                                                             title="City"
                                                                                             type="text"></div>
                        </div>
                        <div aria-hidden="true" class="c-validation"></div>
                    </fieldset>
                    <div class="c-phone c-phone-international c-field  c-col-1 c-sml-col-1 c-span-12 c-sml-span-12">
                        <div class="c-label  "><label for="c-7-220" id="c-7-220-label">Phone <span
                                class="c-offscreen c-required-screenreaders">required</span> <span
                                class="c-offscreen c-validation-screenreaders">, <span></span></span></label></div>
                        <div class="c-editor c-editor-phone"><input id="c-7-220" novalidate="" placeholder=""
                                                                    type="text"></div>
                        <div aria-hidden="true" class="c-validation"></div>
                    </div>
                    <div class="c-email c-field  c-col-13 c-sml-col-1 c-span-12 c-sml-span-12">
                        <div class="c-label  "><label for="c-8-219" id="c-8-219-label">Email <span
                                class="c-offscreen c-required-screenreaders">required</span> <span
                                class="c-offscreen c-validation-screenreaders">, <span></span></span></label></div>
                        <div class="c-editor c-editor-email"><input id="c-8-219" novalidate="" placeholder=""
                                                                    type="text"></div>
                        <div aria-hidden="true" class="c-validation"></div>
                    </div>
                    <div class="c-text-singleline c-field  c-col-1 c-sml-col-1 c-span-12 c-sml-span-12">
                        <div class="c-label  "><label for="c-9-218" id="c-9-218-label">Company <span
                                class="c-offscreen c-required-screenreaders">required</span> <span
                                class="c-offscreen c-validation-screenreaders">, <span></span></span></label></div>
                        <div class="c-editor"><input id="c-9-218" placeholder="" type="text"></div>
                        <div aria-hidden="true" class="c-validation"></div>
                    </div>
                </div>
            </div>
            <div id="c-recaptcha-div"></div>
            <div class="c-forms-error">
                <div aria-hidden="true" class="c-validation"></div>
            </div>
            <div class="c-button-section">
                <div class="c-action">
                    <button class="c-button" id="c-submit-button" type="submit">Submit</button>
                </div>
            </div>
        </div>
        <div class="c-forms-confirmation toggle-off" style="display: none;"
             sys:attach="toggle" toggle:action="render"
             toggle:on="{binding displayConfirmation, source={{ Cognito.Forms.model }} }"></div>
    </div>
</form>
</body>
</html>