<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<p>AdrissBook</p>
<p>&nbsp;</p>
<table style="height: 47px; width: 524px;">
    <thead>
    <tr>
        <td style=";">id</td>
        <td style=";">fName</td>
        <td style=";">Lname</td>
        <td style=";">Email</td>
        <td style=";">Phone</td>
        <td style=";">city</td>
        <td style=";">Company</td>
        <td style=";">Address</td>
        <td style=";">job</td>
        <td style=";">office</td>
    </tr></thead>
    <tbody>
    <tr th:each="contact:${contacts}">
        <td th:text="${contact.id}">...</td>
        <td th:text="${contact.firstName}">...</td>
        <td th:text="${contact.lastName}">...</td>
        <td th:text="${contact.email}">...</td>
        <td th:text="${contact.phoneNummber}">...</td>
        <td th:text="${contact.city}">...</td>
        <td th:text="${contact.company}">...</td>
        <td th:text="${contact.addres}">...</td>
        <td th:text="${contact.job}">...</td>
        <td th:text="${contact.placebo}">...</td>

        <td><button type="button" class="btn btn-default btn-sm" ng-click="initEdit(contact)">
            <span class="glyphicon glyphicon-edit"></span>
        </button></td>
        <td>
            <button type="button" class="btn btn-default btn-sm" ng-click="deleteAddress(contact)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table></body>
</html>