<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Department HOME
<form>
    <table class="table table-striped">
        <thead>
        <tr>

            <td>
                <label>id</label>
            </td>
            <td>
                <label>Name</label>
            </td>


        </tr>
        </thead>
        <tbody>
        <tr th:each="department:${departments}">

            <td>
                <label th:text="${department.id}"><a href="/user/contacts/view/${contact.id}">Id</a>id</label>
            </td>
            <td>
                <label th:text="${department.Name}">Name</label>
            </td>

            <td><a th:href="${'/department/' + department.id}">View</a></td>
            <td><a th:href="${'/department/update/' + department.id}">Update</a></td>
            <td><a onclick="return confirm('Are you sure?')" th:href="${'/department/del/' + department.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>